:root{
    --bg:#151c2c;
    --bgSoft:#182237;
    --text:white;
    --textSoft:#b7bac1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg);
    color: var(--text);
}

a{
    color: inherit;
    text-decoration: none;
}

  
body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #b7bac1;
}